.container {
  padding-bottom: 40px;
}

h1 {
  font-family: "satoshi-medium";
  font-size: 34px;
  line-height: 41px;
  color: var(--shades-black);
  margin: 0;
}

p {
  font-family: "generalSans-medium";
  color: var(--neutral-700);
  font-size: 13px;
  line-height: var(--thirteen);
}

input {
  width: calc(100% - 32px);
  background-color: var(--neutral-100);
  border-style: none;
  padding: 8px 16px;
  border-radius: 10px;
}
.categoryintro {
  padding: 40px 16px 0 16px;
}

@media screen and (min-width: 1240px) {
  .container {
    margin: 0 200px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 904px) and (max-width: 1239px) {
  .container {
    margin: auto;
    width: 840px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 903px) {
}
