<div class="navbar">
  <div class="mediaquery">
    <img
      routerLink="/categories"
      src="../../../assets/images/logo.svg"
      alt=""
    />
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="menuOptions">
      <p routerLink="/home">HOME</p>
      <p routerLink="/categories">QUIZZES</p>
      <p>BLOG</p>
      <p>ABOUT US</p>
      <button>Sign up for free</button>
    </div>
  </div>
</div>
