<app-navbar> </app-navbar>
<div class="body">
  <div class="container">
    <div class="left">
      <div class="introText">
        <p class="subheading">Welcome to Edventures.ai</p>
        <h1>Unleash Your Business Brilliance: Quiz, Learn, Succeed!</h1>
      </div>
      <p class="edventuresMission">
        Empowering aspiring entrepreneurs and professionals to unlock their full
        potential by offering personalized and insightful quizzes that not only
        test your knowledge but also guide you towards continuous improvement.
      </p>

      <img
        class="mobileImage"
        src="../../../assets/images/landingPageImage.png"
        alt=""
      />

      <div class="buttons">
        <app-call-to-action routerLink="/categories">{{
          QuizService.updateButtonText()
        }}</app-call-to-action>
        <button class="secondaryButton">Log in or sign up</button>
      </div>
    </div>
    <img
      class="desktopImage"
      src="../../../assets/images/landingPageImage.png"
      alt=""
    />
  </div>
</div>
