.background {
  background-color: var(--primary-blue-lighter);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 48px);
  margin: 0 16px;
}
.category {
  text-align: center;
  color: var(--primary-blue-darker);
  font-family: "generalSans-medium";
  padding: 16px 0px 16px 0px;
  line-height: var(--seventeen);
  font-size: 17px;
  margin: 0;
  letter-spacing: 0.8px;
}

p {
  color: var(--neutral-600);
  font-family: "generalSans-medium";
  padding: 16px 0px 16px 0px;
  line-height: var(--fifteen);
  font-size: 16px;
  margin: 0;
}

@media screen and (min-width: 1240px) {
  .background {
    margin: 0 200px;
    height: calc(100vh - 112px);
  }
  .button {
    width: 216px;
    float: right;
  }
  .bottomHalf {
    display: block;
    margin-bottom: 12%;
  }
}

@media screen and (min-width: 904px) and (max-width: 1239px) {
  .background {
    width: 840px;
    margin: auto;
    height: calc(100vh - 112px);
  }
  .button {
    width: 216px;
    float: right;
  }
  .bottomHalf {
    display: block;
    margin-bottom: 12%;
  }
}

@media screen and (max-width: 903px) {
}
